#drop_file_area {
    background-color: #EEE;
    border: #999 3px dashed;
    padding: 0.5em; 
}
#drag_upload_file {
  text-align: center;
}
#drag_upload_file p {
  text-align: center;
  display: inline-block;
  margin: 0 1em;
}
#drag_upload_file #selectfile {
  display: none;
}
b.green {
  color:green;
  display: inline-block;
  aspect-ratio: 1/1;
  padding: 0.25em 0.5em;
  background: lightgreen;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px;
}
#drop_file_area [type="file"] {
  display:none;
}